body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.carts{
display: flex;
flex-direction: row;
justify-content:center;
}

